.dropdown-container{
      position: relative;
      width: 100%;
}
.dropdown-container label{
      cursor: pointer;
      border-bottom: solid 1px #ebebeb;
      padding: 10px;
      margin: 0;
}
.dropdown-container input[type='checkbox'],
.dropdown-container input[type='radio']{
      display: none;
}
.dropdown-container input[type='checkbox']:checked + label + .dropdown-content,
.dropdown-container input[type='radio']:checked + label + .dropdown-content{
      transform: scaleY(1);
      max-height: 750px;
}
.dropdown-content{
      position: relative;
      transform-origin: top;
      transform: scaleY(0);
      max-height: 0px;
      transition: transform .5s ease-in-out, max-height .5s ease-in-out;
}